<div>
  <ul >
  <li>
    <mat-card id='group1'>
      <button mat-stroked-button (click)='onJoinGroupA(0)'>Join Group A</button>

    </mat-card>
  </li>
  <span class='divider'></span>
  <li>
    <mat-card id='group2'>
      <button mat-stroked-button (click)='onJoinGroupB(1)'>Join Group B</button>

    </mat-card>
  </li>
  <span class='divider'></span>

  <li>
    <mat-card id='group3'>

      <button mat-stroked-button (click)='onJoinGroupC(2)'>Join Group C</button>

    </mat-card>
  </li>
</ul>
</div>

 <router-outlet name="chat"></router-outlet>
<router-outlet name="listOfUsers"></router-outlet> 
