
#secondary{
  display: flex;

  width:30%;
  padding-right: 10rem;
}
#scrolling-wrapper {
  overflow-y: scroll;

  overflow-x: hidden;
  white-space: nowrap;
  height:10rem;
}
ul{
  margin:auto 0;
  align-content: center;
  display: flex;
  list-style: none;
  width:100%;
}
.divider{

  flex: 1 1 auto;

}
button{
  width:50%;
  text-align: left;
}
mat-card{
  width:30%;

}
#main{
  display:flex;
  position:absolute;
  left:0;
  bottom:0;


}
