
body{
  position: fixed;
  right:0;
  width: 100% ;
}
ul.chats{
  margin:auto 0;
  align-content: center;
  display: flex;
  list-style: none;
  width:100%;
}
ul{
  display: flex;
  list-style: none;
}
#chatBox{
  width:30%;
  display: inline-block;
  right:0;
  bottom:0;
}
.scrolling-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  height:10rem;
}

.divider{

  flex: 1 1 auto;

}

.messagesBox{


}

img{
  width:30%;
  height:30%;
}
mat-card{
  width:30%;

}
.divider{

  flex: 1 1 auto;

}
button{
  width:50%;
  text-align: left;
}
