body{

}
#secondary{
  display: flex;
  padding-right: 10rem;

}
#scrolling-wrapper {
  overflow-y: scroll;
  white-space: nowrap;
  height:10rem;
  border-style: solid;
  border-color: black;
}
ul{
  margin:auto 0;
  align-content: center;
  display: flex;
  list-style: none;

}

.divider{

  flex: 1 1 auto;

}


#main{
  display:flex;
  position:absolute;
  left:0;
  bottom:0;
  width:30%;
  max-width: 30%;

}
#friendName{
  display:inline-block;
  width:50%;
  background-color:white;

}
mat-button{

}
button{
  border-style: solid;

}
.clearButton{
  width:50%;
  border-style: solid;

}
#chaters{
  max-width: 100%;
}

#messageContent{
  width:375px;
  margin: auto;
  overflow-wrap: break-word;

}
.card{
  background-color:white;
}
