

<body>

  <form *ngIf='putInUser==false' (submit)='onLoginUser(loginForm)' #loginForm='ngForm'>
    <input type="text" placeholder="What is your name? " name="username" ngModel #username="ngModel" required minlength="3">
    <button *ngIf='putInUser==false' type='submit'>login</button>
  </form>

<div id="main">
  <span class='divider'> </span>

<div id="secondary" *ngFor='let chats of chatGroups'>

  <p *ngIf='userIsAuthenticated==true&& chats.joined===true'>{{chats.groupNumber}}</p>

  <form *ngIf='putInUser==true&& chats.joined===true' (submit)="onSendMessage(socketForm,chats.groupNumber)" #socketForm='ngForm'>

    <div class="scrolling-wrapper">

        <ul  *ngFor="let messages of chats.messages">
          <li class='card'>
            <mat-card class='creator' *ngIf='messages.creator'>
              {{messages.creator}}

            </mat-card>
            <mat-card class='content'>
              {{messages.content}}

            </mat-card>
          </li>
        </ul>
        <textarea matInput cols="30" rows="2" name="typein" ngModel #typein="ngModel" required></textarea>

        <br>
        <button type="submit">submit</button>
        </div>
  </form>



</div>

</div>




<div id="main">

<div id="chaters" *ngFor='let singleChat of singleChat'>
<!--<p *ngIf='putInUser==true&& chats.joined===true'>{{chats.groupNumber}}</p>-->
<button id='friendName'>{{singleChat.friendId}}</button>
<button class='clearButton' mat-button (click)="clearChats(singleChat)">Clear all chats</button>
<div id="secondary">

<form *ngIf='userIsAuthenticated==true' (submit)="onSendSingleMessage(singleForm,singleChat)" #singleForm='ngForm'>
    <div id="scrolling-wrapper" #scrollMe [scrollTop]="scrollMe.scrollHeight">




      <ul  *ngFor="let messages of singleChat.messages"   >
        <li class='card'>
        <p  *ngIf='messages.creator'>
          {{messages.creator.firstName}}
          {{messages.creator.lastName}}

        </p>
        <p>
          {{messages.content}}

        </p>
        <!--


          <mat-card class='creator' *ngIf='messages.creator'>

          </mat-card>
          <mat-card class='content'>

          </mat-card>-->
        </li>
      </ul><span class='divider'> </span>
      <textarea matInput cols="30" rows="2" name="textIn" ngModel #textIn="ngModel" required  (keyup.enter)="onSendSingleMessage(singleForm,singleChat)"></textarea>

      <br>
      <button type="submit">submit</button>
      </div>

</form>


</div>
</div>
</div>



</body>

