.main{

  position: relative;

}
.mobileVersion{
  width:100%;
}
.desktopVersion{
  position: fixed;
  bottom:0;
  right:0;
}

ul{
  margin:auto 0;
  display: flex;
  list-style: none;
  padding:0;
}


#nameButton{
  width: 10rem;
  margin-top: 0.5rem;
}
