

<div class='main'></div>
<!--Move everything to the right of the page-->
    <div [ngClass]="{'mobileVersion':isMobile,'desktopVersion':!isMobile}">
        <ul *ngFor="let users of allUserList">
      <li>
            <!--  //psts1. in userList, person clicks on user, sending the userId to mainService-->

        <a mat-button color="primary" [routerLink]="['/profile',users._id]" (click)="onOpenProfile()">P</a>
        <!--<a id="videoButton"  mat-button color='accent' (click)="onOpenVideoCall(users._id)" >Call</a>-->
        <button id="nameButton"  mat-button color='accent' background-color='primary' (click)="onOpenSingleChat(users._id)" >

          {{users.firstName}} {{users.lastName}}

        </button>
        <!-- <button id="addFriend" mat-button color='primary' (click)="onAddFriend(users._id)">
          Add Friend
        </button> -->

      </li>
    </ul>

      </div>

<!--<div class='videos'>
  <ul *ngFor="let videocalls of currentVideoCalls">
    <li>
      <video width="320" height="240" autoplay="true" border-style="solid">
      </video>
    </li>

</ul>
</div>
-->

